.gallery-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  &__image {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    transition: transform 250ms ease-in-out;
    &:hover {
      transform: scale(1.02);
    }
    @media (max-width: 720px) {
      &:hover {
        transform: none;
      }
    }
  }
}
