.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  height: 5vw;
  padding: 0.9vw;
  z-index: 2;
  background-color: white;
  &__socials {
    position: absolute;
    left: 3rem;
    &__icon {
      height: 1.6rem;
      width: 1.6rem;
      margin-right: 1.5rem;
      cursor: pointer;
      &:last-child {
        margin-right: 0rem;
      }
    }
  }
  &__title {
    &__name {
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 0.2em;
      word-spacing: 0.4em;
      text-align: center;
      font-family: "Montserrat", sans-serif;
    }
  }
}
