.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  padding-bottom: 1rem;
  & {
    @media (max-width: 720px) {
      margin-top: 4rem;
    }
  }
}
