* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

//imports
@import "./components/gallery.scss";
@import "./components/galleryRow.scss";
@import "./components/header.scss";
@import "./components/layout.scss";
